interactions:
- request:
    body: "{\"query\":\"\u8D35\u5DDE\u8305\u53F0 600519\",\"summary\":true,\"count\":3,\"page\":1}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.bochaai.com/v1/web-search
  response:
    body:
      string: "{\"code\":200,\"log_id\":\"92027af4ca1be4a8\",\"msg\":null,\"data\":{\"_type\":\"SearchResponse\",\"queryContext\":{\"originalQuery\":\"\u8D35\u5DDE\u8305\u53F0
        600519\"},\"webPages\":{\"webSearchUrl\":\"https://bochaai.com/search?q=\u8D35\u5DDE\u8305\u53F0
        600519\",\"totalEstimatedMatches\":10000000,\"value\":[{\"id\":\"https://api.bochaai.com/v1/#WebPages.0\",\"name\":\":\u56DE\u590D\",\"url\":\"https://xueqiu.com/6037840773/321219864\",\"displayUrl\":\"https://xueqiu.com/6037840773/321219864\",\"snippet\":\"$\u8D35\u5DDE\u8305\u53F0(SH600519)$
        , , , , , \u3001 \u3001 \u3001 \u3001 , , \u3001 \u3001 , \\n\u5C55\u5F00
        \uE63C\",\"summary\":\"$\u8D35\u5DDE\u8305\u53F0(SH600519)$ , , , , , \u3001
        \u3001 \u3001 \u3001 , , \u3001 \u3001 , \\n\u5C55\u5F00 \uE63C\",\"siteName\":\"\u96EA\u7403\",\"siteIcon\":\"https://th.bochaai.com/favicon?domain_url=https://xueqiu.com/6037840773/321219864\",\"datePublished\":\"2025-01-22T01:47:00+08:00\",\"dateLastCrawled\":\"2025-01-22T01:47:00Z\",\"cachedPageUrl\":null,\"language\":null,\"isFamilyFriendly\":null,\"isNavigational\":null},{\"id\":\"https://api.bochaai.com/v1/#WebPages.1\",\"name\":\"\u8D35\u5DDE\u8305\u53F0(600519)\",\"url\":\"http://data.eastmoney.com/notices/stock/600519.html?f_node=5\",\"displayUrl\":\"http://data.eastmoney.com/notices/stock/600519.html?f_node=5\",\"snippet\":\"\u90D1\u91CD\u58F0\u660E:
        \u4E1C\u65B9\u8D22\u5BCC\u7F51\u53D1\u5E03\u6B64\u4FE1\u606F\u7684\u76EE\u7684\u5728\u4E8E\u4F20\u64AD\u66F4\u591A\u4FE1\u606F,\u4E0E\u672C\u7AD9\u7ACB\u573A\u65E0\u5173\u3002\u4E1C\u65B9\u8D22\u5[...]
