interactions:
- request:
    body: '{"api_name": "daily", "token": "REDACTED", "params": {"ts_code": "000001.SZ",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"4a924633-1711-442c-87be-78b81752d904","code":0,"data":{"fields":["ts_code","trade_date","open","high","low","close","pre_close","change","pct_chg","vol","amount"],"items":[["000001.SZ","20240430",10.8,10.88,10.73,10.79,10.81,-0.02,-0.185,1324556.53,1431407.709],["000001.SZ","20240429",10.56,10.9,10.52,10.81,10.6,0.21,1.9811,2169177.37,2337350.884],["000001.SZ","20240426",10.59,10.67,10.48,10.6,10.61,-0.01,-0.0943,1607627.51,1698581.437],["000001.SZ","20240425",10.5,10.62,10.48,10.61,10.53,0.08,0.7597,1113812.24,1176304.525],["000001.SZ","20240424",10.52,10.57,10.46,10.53,10.54,-0.01,-0.0949,941567.74,989093.538],["000001.SZ","20240423",10.51,10.65,10.46,10.54,10.[...]
