interactions:
- request:
    body: '{"api_name": "income", "token": "REDACTED", "params": {"ts_code": "002594.SZ"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"c7cf9d74-26c3-4617-871c-33c3fee687be","code":0,"data":{"fields":["ts_code","ann_date","f_ann_date","end_date","report_type","comp_type","end_type","basic_eps","diluted_eps","total_revenue","revenue","int_income","prem_earned","comm_income","n_commis_income","n_oth_income","n_oth_b_income","prem_income","out_prem","une_prem_reser","reins_income","n_sec_tb_income","n_sec_uw_income","n_asset_mg_income","oth_b_income","fv_value_chg_gain","invest_income","ass_invest_income","forex_gain","total_cogs","oper_cost","int_exp","comm_exp","biz_tax_surchg","sell_exp","admin_exp","fin_exp","assets_impair_loss","prem_refund","compens_payout","reser_insur_liab","div_payt","reins_exp","oper_exp","compens_payout_refu","insur_reser_refu","reins_cost_refund","other_bus_cost","operate_profit","non_oper_income","non_oper_exp","nca_disploss","total_profit","income_tax","n_income","n_income_attr_p","minority_gain","oth_compr_income","t_compr_income","compr_inc_attr_p","compr_inc_attr_m_s","ebit","ebitda","insurance_exp","undist_profit","distable_profit","rd_exp","fin_exp_int_exp","fin_exp_int_inc","transfer_surplus_rese","transfer_housing_imprest","transfer_oth","adj_lossgain","withdra_legal_surplus","withdra_legal_pubfund","withdra_biz_devfund","withdra_rese_fund","withdra_oth_ersu","workers_welfare","distr_profit_shrhder","prfshare_payable_dvd","comshare_payable_dvd","capit_comstock_div","continued_net_profit","update_flag"],"items":[["002594.SZ","20260429","20260429","20260331","1","1","1",0.448,0.448,150225314000.0,150225314000.0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,-101258000.0,85867000.0,278985000.0,null,148612018000.0,121973620000.0,null,null,1883095000.0,5826606000.0,5083054000.0,2099923000.0,-394464000.0,null,null,null,null,null,null,null,null,null,null,4695889000.0,207896000.0,157390000.0,null,4746395000.0,735464000.0,4010931000.0,4084551000.0,-73620000.0,111217000.0,4122148000.0,421[...]
