interactions:
- request:
    body: '{"api_name": "anns_d", "token": "REDACTED", "params": {"ts_code": "000001.SZ",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: "{\"code\": 0, \"msg\": null, \"data\": {\"fields\": [\"ann_date\",
        \"ts_code\", \"name\", \"title\", \"url\"], \"items\": [[\"20240430\", \"000001.SZ\",
        \"\u5E73\u5B89\u94F6\u884C\", \"\u5173\u4E8E\u53EC\u5F002023\u5E74\u5E74\u5EA6\u80A1\u4E1C\u5927\u4F1A\u7684\u901A\u77E5\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219908458.PDF\"], [\"20240430\",
        \"000001.SZ\", \"\u5E73\u5B89\u94F6\u884C\", \"2023\u5E74\u5E74\u5EA6\u80A1\u4E1C\u5927\u4F1A\u6587\u4EF6\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219908453.PDF\"], [\"20240430\",
        \"000001.SZ\", \"\u5E73[...]
