interactions:
- request:
    body: '{"api_name": "daily", "token": "REDACTED", "params": {"ts_code": "002594.SZ",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"d0d75488-e722-4e2b-a2f0-d7c0b5f107ec","code":0,"data":{"fields":["ts_code","trade_date","open","high","low","close","pre_close","change","pct_chg","vol","amount"],"items":[["002594.SZ","20240430",223.5,224.38,218.5,218.5,221.38,-2.88,-1.3009,115559.66,2542063.035],["002594.SZ","20240429",221.08,225.4,218.73,221.38,219.37,2.01,0.9163,191675.93,4256800.048],["002594.SZ","20240426",210.0,219.76,210.0,219.37,208.94,10.43,4.9919,253453.78,5502292.294],["002594.SZ","20240425",207.4,211.51,206.62,208.94,207.42,1.52,0.7328,94683.84,1980120.669],["002594.SZ","20240424",206.89,208.8,204.5,207.42,205.04,2.38,1.1607,74978.92,1546983.916],["002594.SZ","20240423",208.55,208.56[...]
