interactions:
- request:
    body: '{"api_name": "stk_holdernumber", "token": "REDACTED", "params": {"ts_code":
      "000063.SZ"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"4f4d5c23-222d-4f23-87ed-910e63d62cc0","code":0,"data":{"fields":["ts_code","ann_date","end_date","holder_num"],"items":[["000063.SZ","20260413","20260410",628812],["000063.SZ","20260413","20260331",630598],["000063.SZ","20260425","20260331",630598],["000063.SZ","20260323","20260320",631986],["000063.SZ","20260323","20260310",630925],["000063.SZ","20260307","20260228",629360],["000063.SZ","20260304","20260227",629360],["000063.SZ","20260225","20260213",624566],["000063.SZ","20260211","20260210",625767],["000063.SZ","20260203","20260130",606919],["000063.SZ","20260121","20260120",610003],["000063.SZ","20260112","2[...]
