interactions:
- request:
    body: '{"api_name": "stk_holdernumber", "token": "REDACTED", "params": {"ts_code":
      "601398.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"9680863e-4cc4-4896-ab3d-d2123386e2e2","code":0,"data":{"fields":["ts_code","ann_date","end_date","holder_num"],"items":[["601398.SH","20260430","20260331",788295],["601398.SH","20260328","20260228",823962],["601398.SH","20260328","20251231",687375],["601398.SH","20251031","20250930",759583],["601398.SH","20250830","20250630",673736],["601398.SH","20250430","20250331",707770],["601398.SH","20250329","20250228",675621],["601398.SH","20250329","20241231",644591],["601398.SH","20241031","20240930",680869],["601398.SH","20240831","20240630",613766],["601398.SH","20240430","20240331",613660],["601398.SH","20240328","2[...]
