interactions:
- request:
    body: '{"api_name": "fina_indicator", "token": "REDACTED", "params": {"ts_code":
      "600519.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"11c48ef0-0ee3-4e27-97c2-83f4b657e8ed","code":0,"data":{"fields":["ts_code","ann_date","end_date","eps","dt_eps","total_revenue_ps","revenue_ps","capital_rese_ps","surplus_rese_ps","undist_profit_ps","extra_item","profit_dedt","gross_margin","current_ratio","quick_ratio","cash_ratio","ar_turn","ca_turn","fa_turn","assets_turn","op_income","ebit","ebitda","fcff","fcfe","current_exint","noncurrent_exint","interestdebt","netdebt","tangible_asset","working_capital","networking_capital","invest_capital","retained_earnings","diluted2_eps","bps","ocfps","retainedps","cfps","ebit_ps","fcff_ps","fcfe_ps","netprofit_margin","grossprofit_margin","cogs_of_sales","expense_of_sales","profit_to_gr","saleexp_to_gr","adminexp_of_gr","finaexp_of_gr","impai_ttm","gc_of_gr","op_of_gr","ebit_of_gr","roe","roe_waa","roe_dt","roa","npta","roic","roe_yearly","roa2_yearly","debt_to_assets","assets_to_eqt","dp_assets_to_eqt","ca_to_assets","nca_to_assets","tbassets_to_totalassets","int_to_talcap","eqt_to_talcapital","currentdebt_to_debt","longdeb_to_debt","ocf_to_shortdebt","debt_to_eqt","eqt_to_debt","eqt_to_interestdebt","tangibleasset_to_debt","tangasset_to_intdebt","tangibleasset_to_netdebt","ocf_to_debt","turn_days","roa_yearly","roa_dp","fixed_assets","profit_to_op","q_saleexp_to_gr","q_gc_to_gr","q_roe","q_dt_roe","q_npta","q_ocf_to_sales","basic_eps_yoy","dt_eps_yoy","cfps_yoy","op_yoy","ebt_yoy","netprofit_yoy","dt_netprofit_yoy","ocf_yoy","roe_yoy","bps_yoy","assets_yoy","eqt_yoy","tr_yoy","or_yoy","q_sales_yoy","q_op_qoq","equity_yoy"],"items":[["600519.SH","20260425","20260331",21.76,21.76,43.683,43.0492,0.0013,40.3612,175.0003,2527692.04,27239985194.41,48388523020.19,7.0607,5.4825,1.3629,3084.6148,0.2088,2.4519,0.1754,37536549658.48,37424749642.98,null,-4293251636.7808,-4293251636.7808,21685018917.56,138251140.26,16959688412.07,-31827002985.48,256331525811.96,233068933753.52,201052818427.29,298095574847.76,269690838329.6,21.7545,216.3223,21.4889,215.3615,41.1593,29.8855,-3.4284,-3.4284,52.2245,89.7592,10.2408,6.3125,51.4668,2.9354,3[...]
