interactions:
- request:
    body: '{"api_name": "anns_d", "token": "REDACTED", "params": {"ts_code": "002594.SZ",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: "{\"code\": 0, \"msg\": null, \"data\": {\"fields\": [\"ann_date\",
        \"ts_code\", \"name\", \"title\", \"url\"], \"items\": [[\"20240430\", \"002594.SZ\",
        \"\u6BD4\u4E9A\u8FEA\", \"2024\u5E74\u4E00\u5B63\u5EA6\u62A5\u544A\", \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219909910.PDF\"],
        [\"20240430\", \"002594.SZ\", \"\u6BD4\u4E9A\u8FEA\", \"\u5173\u4E8E2024\u5E74\u56DE\u8D2D\u80A1\u4EFD\u65B9\u6848\u5B9E\u65BD\u5B8C\u6BD5\u66A8\u80A1\u4EFD\u53D8\u52A8\u7684\u516C\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219909909.PDF\"], [\"20240427\",
        \"002594.SZ\", \"\u[...]
