interactions:
- request:
    body: '{"api_name": "fina_indicator", "token": "REDACTED", "params": {"ts_code":
      "000063.SZ"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"792f0efe-d410-41bc-ad3f-544b3c2e6098","code":0,"data":{"fields":["ts_code","ann_date","end_date","eps","dt_eps","total_revenue_ps","revenue_ps","capital_rese_ps","surplus_rese_ps","undist_profit_ps","extra_item","profit_dedt","gross_margin","current_ratio","quick_ratio","cash_ratio","ar_turn","ca_turn","fa_turn","assets_turn","op_income","ebit","ebitda","fcff","fcfe","current_exint","noncurrent_exint","interestdebt","netdebt","tangible_asset","working_capital","networking_capital","invest_capital","retained_earnings","diluted2_eps","bps","ocfps","retainedps","cfps","ebit_ps","fcff_ps","fcfe_ps","netprofit_margin","grossprofit_margin","cogs_of_sales","expense_of_sales","profit_to_gr","saleexp_to_gr","adminexp_of_gr","finaexp_of_gr","impai_ttm","gc_of_gr","op_of_gr","ebit_of_gr","roe","roe_waa","roe_dt","roa","npta","roic","roe_yearly","roa2_yearly","debt_to_assets","assets_to_eqt","dp_assets_to_eqt","ca_to_assets","nca_to_assets","tbassets_to_totalassets","int_to_talcap","eqt_to_talcapital","currentdebt_to_debt","longdeb_to_debt","ocf_to_shortdebt","debt_to_eqt","eqt_to_debt","eqt_to_interestdebt","tangibleasset_to_debt","tangasset_to_intdebt","tangibleasset_to_netdebt","ocf_to_debt","turn_days","roa_yearly","roa_dp","fixed_assets","profit_to_op","q_saleexp_to_gr","q_gc_to_gr","q_roe","q_dt_roe","q_npta","q_ocf_to_sales","basic_eps_yoy","dt_eps_yoy","cfps_yoy","op_yoy","ebt_yoy","netprofit_yoy","dt_netprofit_yoy","ocf_yoy","roe_yoy","bps_yoy","assets_yoy","eqt_yoy","tr_yoy","or_yoy","q_sales_yoy","q_op_qoq","equity_yoy"],"items":[["000063.SZ","20260425","20260331",0.27,0.27,7.3143,7.3143,5.7435,0.6383,9.1667,374268000.0,936176000.0,9893278000.0,1.6573,1.0804,0.8665,1.5043,0.2387,2.6245,0.1578,837426000.0,1418823000.0,null,-3781117930.0867,-537606930.0867,72174803000.0,5576968000.0,70934989000.0,42100788000.0,63311968000.0,59199979000.0,27937025000.0,147972469000.0,46902916000.0,0.2739,16.058,-0.4136,9.8051,-1.0525,0.2966,-0.7904,-0.1124,3.7677,28.2762,71.7238,24.0166,3.7677,5.7685,17.2736,0.9745,-0.684,97.6065,4.4129,4.[...]
