interactions:
- request:
    body: '{"api_name": "stk_holdernumber", "token": "REDACTED", "params": {"ts_code":
      "600519.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"7297bcf7-d30f-4c95-8095-92078728ff1c","code":0,"data":{"fields":["ts_code","ann_date","end_date","holder_num"],"items":[["600519.SH","20260417","20260331",243159],["600519.SH","20260425","20260331",243159],["600519.SH","20260417","20251231",255892],["600519.SH","20251030","20250930",238512],["600519.SH","20250813","20250630",220658],["600519.SH","20250403","20250331",192430],["600519.SH","20250430","20250331",192430],["600519.SH","20250403","20241231",207894],["600519.SH","20241026","20240930",201582],["600519.SH","20240809","20240630",199209],["600519.SH","20240403","20240331",161009],["600519.SH","20240427","2[...]
