interactions:
- request:
    body: '{"api_name": "income", "token": "REDACTED", "params": {"ts_code": "601398.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"aa33a408-1fe6-4818-9de8-b65ef0bdc868","code":0,"data":{"fields":["ts_code","ann_date","f_ann_date","end_date","report_type","comp_type","end_type","basic_eps","diluted_eps","total_revenue","revenue","int_income","prem_earned","comm_income","n_commis_income","n_oth_income","n_oth_b_income","prem_income","out_prem","une_prem_reser","reins_income","n_sec_tb_income","n_sec_uw_income","n_asset_mg_income","oth_b_income","fv_value_chg_gain","invest_income","ass_invest_income","forex_gain","total_cogs","oper_cost","int_exp","comm_exp","biz_tax_surchg","sell_exp","admin_exp","fin_exp","assets_impair_loss","prem_refund","compens_payout","reser_insur_liab","div_payt","reins_exp","oper_exp","compens_payout_refu","insur_reser_refu","reins_cost_refund","other_bus_cost","operate_profit","non_oper_income","non_oper_exp","nca_disploss","total_profit","income_tax","n_income","n_income_attr_p","minority_gain","oth_compr_income","t_compr_income","compr_inc_attr_p","compr_inc_attr_m_s","ebit","ebitda","insurance_exp","undist_profit","distable_profit","rd_exp","fin_exp_int_exp","fin_exp_int_inc","transfer_surplus_rese","transfer_housing_imprest","transfer_oth","adj_lossgain","withdra_legal_surplus","withdra_legal_pubfund","withdra_biz_devfund","withdra_rese_fund","withdra_oth_ersu","workers_welfare","distr_profit_shrhder","prfshare_payable_dvd","comshare_payable_dvd","capit_comstock_div","continued_net_profit","update_flag"],"items":[["601398.SH","20260430","20260430","20260331","1","2","1",0.24,0.24,230370000000.0,230370000000.0,331380000000.0,null,44417000000.0,40916000000.0,14021000000.0,438000000.0,null,null,null,null,null,null,null,7340000000.0,733000000.0,14638000000.0,1706000000.0,-1788000000.0,128393000000.0,null,162849000000.0,3501000000.0,3255000000.0,null,48790000000.0,null,null,null,null,null,null,null,128393000000.0,null,null,null,6902000000.0,101977000000.0,218000000.0,242000000.0,null,101953000000.0,139400000[...]
