interactions:
- request:
    body: '{"api_name": "cashflow", "token": "REDACTED", "params": {"ts_code": "601398.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"7a2c16ef-0fe7-496a-a597-de07c4d92d32","code":0,"data":{"fields":["ts_code","ann_date","f_ann_date","end_date","comp_type","report_type","end_type","net_profit","finan_exp","c_fr_sale_sg","recp_tax_rends","n_depos_incr_fi","n_incr_loans_cb","n_inc_borr_oth_fi","prem_fr_orig_contr","n_incr_insured_dep","n_reinsur_prem","n_incr_disp_tfa","ifc_cash_incr","n_incr_disp_faas","n_incr_loans_oth_bank","n_cap_incr_repur","c_fr_oth_operate_a","c_inf_fr_operate_a","c_paid_goods_s","c_paid_to_for_empl","c_paid_for_taxes","n_incr_clt_loan_adv","n_incr_dep_cbob","c_pay_cla[...]
