interactions:
- request:
    body: '{"api_name": "balancesheet", "token": "REDACTED", "params": {"ts_code":
      "002594.SZ"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"5109b258-35b5-4ed0-92a3-f3759842a6a5","code":0,"data":{"fields":["ts_code","ann_date","f_ann_date","end_date","report_type","comp_type","end_type","total_share","cap_rese","undistr_porfit","surplus_rese","special_rese","money_cap","trad_asset","notes_receiv","accounts_receiv","oth_receiv","prepayment","div_receiv","int_receiv","inventories","amor_exp","nca_within_1y","sett_rsrv","loanto_oth_bank_fi","premium_receiv","reinsur_receiv","reinsur_res_receiv","pur_resale_fa","oth_cur_assets","total_cur_assets","fa_avail_for_sale","htm_invest","lt_eqt_invest","inve[...]
