interactions:
- request:
    body: '{"api_name": "anns_d", "token": "REDACTED", "params": {"ts_code": "601398.SH",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: "{\"code\": 0, \"msg\": null, \"data\": {\"fields\": [\"ann_date\",
        \"ts_code\", \"name\", \"title\", \"url\"], \"items\": [[\"20240430\", \"601398.SH\",
        \"\u5DE5\u5546\u94F6\u884C\", \"\u5DE5\u5546\u94F6\u884CH\u80A1\u516C\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219925362.PDF\"], [\"20240430\",
        \"601398.SH\", \"\u5DE5\u5546\u94F6\u884C\", \"\u5DE5\u5546\u94F6\u884CH\u80A1\u516C\u544A-2024\u5E74\u7B2C\u4E00\u5B63\u5EA6\u62A5\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219925361.PDF\"], [\"20240430\",
        \"601398.SH\", \"\u5DE5\u5546\u94F6\[...]
