interactions:
- request:
    body: '{"api_name": "daily", "token": "REDACTED", "params": {"ts_code": "601398.SH",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"b365b10f-af72-45cc-a902-7ee9a977439f","code":0,"data":{"fields":["ts_code","trade_date","open","high","low","close","pre_close","change","pct_chg","vol","amount"],"items":[["601398.SH","20240430",5.37,5.45,5.36,5.43,5.38,0.05,0.9294,2601743.83,1410153.799],["601398.SH","20240429",5.39,5.44,5.34,5.38,5.4,-0.02,-0.3704,3490150.64,1882123.563],["601398.SH","20240426",5.49,5.54,5.39,5.4,5.49,-0.09,-1.6393,4710331.31,2563059.301],["601398.SH","20240425",5.48,5.5,5.45,5.49,5.47,0.02,0.3656,1650745.56,903595.425],["601398.SH","20240424",5.5,5.52,5.46,5.47,5.5,-0.03,-0.5455,2360259.75,1292875.949],["601398.SH","20240423",5.49,5.58,5.46,5.5,5.48,0.02,0.365,3309129.67,1827[...]
