interactions:
- request:
    body: '{"api_name": "anns_d", "token": "REDACTED", "params": {"ts_code": "600519.SH",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: "{\"code\": 0, \"msg\": null, \"data\": {\"fields\": [\"ann_date\",
        \"ts_code\", \"name\", \"title\", \"url\"], \"items\": [[\"20240501\", \"600519.SH\",
        \"\u8D35\u5DDE\u8305\u53F0\", \"\u8D35\u5DDE\u8305\u53F0\u5173\u4E8E\u8463\u4E8B\u957F\u8F9E\u804C\u7684\u516C\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-05-01/1219958953.PDF\"], [\"20240430\",
        \"600519.SH\", \"\u8D35\u5DDE\u8305\u53F0\", \"\u8D35\u5DDE\u8305\u53F0\u5173\u4E8E\u6536\u5230\u63A8\u8350\u8463\u4E8B\u957F\u4EBA\u9009\u6587\u4EF6\u7684\u516C\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-30/1219926[...]
