interactions:
- request:
    body: '{"api_name": "daily", "token": "REDACTED", "params": {"ts_code": "600519.SH",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"b3d61867-0ab7-44a7-a5a5-43103ae7281e","code":0,"data":{"fields":["ts_code","trade_date","open","high","low","close","pre_close","change","pct_chg","vol","amount"],"items":[["600519.SH","20240430",1705.01,1729.88,1705.0,1705.0,1704.0,1.0,0.0587,30759.89,5273902.374],["600519.SH","20240429",1696.95,1728.0,1693.82,1704.0,1709.43,-5.43,-0.3176,41332.23,7072096.59],["600519.SH","20240426",1694.0,1714.0,1693.98,1709.43,1693.04,16.39,0.9681,30995.92,5290248.521],["600519.SH","20240425",1690.33,1695.6,1682.25,1693.04,1693.6,-0.56,-0.0331,14476.48,2447183.879],["600519.SH","20240424",1696.98,1699.91,1683.33,1693.6,1692.28,1.32,0.078,17086.43,2893555.635],["600519.SH","202[...]
