interactions:
- request:
    body: '{"api_name": "daily", "token": "REDACTED", "params": {"ts_code": "000063.SZ",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"07f8bfb6-794e-4a44-a69c-f0f414192170","code":0,"data":{"fields":["ts_code","trade_date","open","high","low","close","pre_close","change","pct_chg","vol","amount"],"items":[["000063.SZ","20240430",28.97,29.1,28.55,28.67,28.88,-0.21,-0.7271,853953.38,2460126.044],["000063.SZ","20240429",28.81,29.28,28.55,28.88,28.74,0.14,0.4871,1354670.26,3914553.087],["000063.SZ","20240426",28.35,28.96,28.25,28.74,27.8,0.94,3.3813,1489818.89,4267967.094],["000063.SZ","20240425",27.97,28.17,27.68,27.8,28.24,-0.44,-1.5581,677982.72,1891703.418],["000063.SZ","20240424",27.63,28.28,27.39,28.24,27.5,0.74,2.6909,938751.4,2625285.463],["000063.SZ","20240423",27.69,27.89,27.2,27.5,27.48,0[...]
