interactions:
- request:
    body: '{"api_name": "fina_indicator", "token": "REDACTED", "params": {"ts_code":
      "601398.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"9954a851-7321-4407-a400-65ca3bbe7e95","code":0,"data":{"fields":["ts_code","ann_date","end_date","eps","dt_eps","total_revenue_ps","revenue_ps","capital_rese_ps","surplus_rese_ps","undist_profit_ps","extra_item","profit_dedt","gross_margin","current_ratio","quick_ratio","cash_ratio","ar_turn","ca_turn","fa_turn","assets_turn","op_income","ebit","ebitda","fcff","fcfe","current_exint","noncurrent_exint","interestdebt","netdebt","tangible_asset","working_capital","networking_capital","invest_capital","retained_earnings","diluted2_eps","bps","ocfps","retainedps","cfps","ebit_ps","fcff_ps","fcfe_ps","netprofit_margin","grossprofit_margin","cogs_of_sales","expense_of_sales","profit_to_gr","saleexp_to_gr","adminexp_of_gr","finaexp_of_gr","impai_ttm","gc_of_gr","op_of_gr","ebit_of_gr","roe","roe_waa","roe_dt","roa","npta","roic","roe_yearly","roa2_yearly","debt_to_assets","assets_to_eqt","dp_assets_to_eqt","ca_to_assets","nca_to_assets","tbassets_to_totalassets","int_to_talcap","eqt_to_talcapital","currentdebt_to_debt","longdeb_to_debt","ocf_to_shortdebt","debt_to_eqt","eqt_to_debt","eqt_to_interestdebt","tangibleasset_to_debt","tangasset_to_intdebt","tangibleasset_to_netdebt","ocf_to_debt","turn_days","roa_yearly","roa_dp","fixed_assets","profit_to_op","q_saleexp_to_gr","q_gc_to_gr","q_roe","q_dt_roe","q_npta","q_ocf_to_sales","basic_eps_yoy","dt_eps_yoy","cfps_yoy","op_yoy","ebt_yoy","netprofit_yoy","dt_netprofit_yoy","ocf_yoy","roe_yoy","bps_yoy","assets_yoy","eqt_yoy","tr_yoy","or_yoy","q_sales_yoy","q_op_qoq","equity_yoy"],"items":[["601398.SH","20260430","20260331",0.24,0.24,0.6464,0.6464,0.4029,1.4062,6.3585,146000000.0,86795000000.0,null,null,null,null,null,null,null,0.0042,81492000000.0,null,null,null,null,null,null,null,null,null,null,null,null,2767393000000.0,0.2439,11.0625,3.9738,7.7647,0.6951,null,null,null,38.2051,null,null,null,38.2051,null,21.179,null,null,null,44.2666,null,2.0286,2.2075,2.0252,null,0.1611,null,8.1144,null,92.1901,12.8043,12.7455,null,null,null,null,null,null,null,null,11.8043,0.0842,null,null,[...]
