interactions:
- request:
    body: '{"api_name": "fina_indicator", "token": "REDACTED", "params": {"ts_code":
      "002594.SZ"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"b1c7d0f5-2bf2-4865-aedc-683f82d14cf0","code":0,"data":{"fields":["ts_code","ann_date","end_date","eps","dt_eps","total_revenue_ps","revenue_ps","capital_rese_ps","surplus_rese_ps","undist_profit_ps","extra_item","profit_dedt","gross_margin","current_ratio","quick_ratio","cash_ratio","ar_turn","ca_turn","fa_turn","assets_turn","op_income","ebit","ebitda","fcff","fcfe","current_exint","noncurrent_exint","interestdebt","netdebt","tangible_asset","working_capital","networking_capital","invest_capital","retained_earnings","diluted2_eps","bps","ocfps","retainedps","cfps","ebit_ps","fcff_ps","fcfe_ps","netprofit_margin","grossprofit_margin","cogs_of_sales","expense_of_sales","profit_to_gr","saleexp_to_gr","adminexp_of_gr","finaexp_of_gr","impai_ttm","gc_of_gr","op_of_gr","ebit_of_gr","roe","roe_waa","roe_dt","roa","npta","roic","roe_yearly","roa2_yearly","debt_to_assets","assets_to_eqt","dp_assets_to_eqt","ca_to_assets","nca_to_assets","tbassets_to_totalassets","int_to_talcap","eqt_to_talcapital","currentdebt_to_debt","longdeb_to_debt","ocf_to_shortdebt","debt_to_eqt","eqt_to_debt","eqt_to_interestdebt","tangibleasset_to_debt","tangasset_to_intdebt","tangibleasset_to_netdebt","ocf_to_debt","turn_days","roa_yearly","roa_dp","fixed_assets","profit_to_op","q_saleexp_to_gr","q_gc_to_gr","q_roe","q_dt_roe","q_npta","q_ocf_to_sales","basic_eps_yoy","dt_eps_yoy","cfps_yoy","op_yoy","ebt_yoy","netprofit_yoy","dt_netprofit_yoy","ocf_yoy","roe_yoy","bps_yoy","assets_yoy","eqt_yoy","tr_yoy","or_yoy","q_sales_yoy","q_op_qoq","equity_yoy"],"items":[["002594.SZ","20260429","20260331",0.448,0.448,16.4771,16.4771,10.4676,0.8549,13.1775,-63023000.0,4147574000.0,28251694000.0,0.8154,0.4849,0.3737,3.6989,0.3916,0.5242,0.1682,1613296000.0,4781471000.0,null,-44698946318.3174,-19420785318.3174,409251755000.0,80491173000.0,150213614000.0,74427106000.0,175224257000.0,-89597324000.0,-143027975000.0,412334037000.0,127936667000.0,0.448,25.4368,0.306,14.0325,0.5499,0.5244,-4.9027,-2.1301,2.6699,18.8062,81.1938,16.2111,2.6699,3.8786,10.9347,1.3978,-0.262[...]
