interactions:
- request:
    body: '{"api_name": "income", "token": "REDACTED", "params": {"ts_code": "600519.SH"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"f9036421-2c72-4e22-ba98-000fdd0db758","code":0,"data":{"fields":["ts_code","ann_date","f_ann_date","end_date","report_type","comp_type","end_type","basic_eps","diluted_eps","total_revenue","revenue","int_income","prem_earned","comm_income","n_commis_income","n_oth_income","n_oth_b_income","prem_income","out_prem","une_prem_reser","reins_income","n_sec_tb_income","n_sec_uw_income","n_asset_mg_income","oth_b_income","fv_value_chg_gain","invest_income","ass_invest_income","forex_gain","total_cogs","oper_cost","int_exp","comm_exp","biz_tax_surchg","sell_exp","admin_exp","fin_exp","assets_impair_loss","prem_refund","compens_payout","reser_insur_liab","div_payt","reins_exp","oper_exp","compens_payout_refu","insur_reser_refu","reins_cost_refund","other_bus_cost","operate_profit","non_oper_income","non_oper_exp","nca_disploss","total_profit","income_tax","n_income","n_income_attr_p","minority_gain","oth_compr_income","t_compr_income","compr_inc_attr_p","compr_inc_attr_m_s","ebit","ebitda","insurance_exp","undist_profit","distable_profit","rd_exp","fin_exp_int_exp","fin_exp_int_inc","transfer_surplus_rese","transfer_housing_imprest","transfer_oth","adj_lossgain","withdra_legal_surplus","withdra_legal_pubfund","withdra_biz_devfund","withdra_rese_fund","withdra_oth_ersu","workers_welfare","distr_profit_shrhder","prfshare_payable_dvd","comshare_payable_dvd","capit_comstock_div","continued_net_profit","update_flag"],"items":[["600519.SH","20260425","20260425","20260331","1","1","1",21.76,21.76,54702912385.23,53909252220.51,793660164.72,null,null,null,null,null,null,null,null,null,null,null,null,null,-3077007.2,434629.49,87268.16,null,17166362726.75,5520729200.32,40932871.08,118272.18,8227407160.96,1605764764.88,1853763865.81,-115803334.98,null,null,null,null,null,null,null,null,null,null,null,37537008686.42,6759734.6,518777.0,null,37543249644.02,9389418154.13,28153831489.89,27242512886.45,911318603.44,14877422.36,2[...]
