interactions:
- request:
    body: '{"api_name": "stk_holdernumber", "token": "REDACTED", "params": {"ts_code":
      "002594.SZ"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: '{"request_id":"83416de5-8654-4482-910c-7b9f7f23673e","code":0,"data":{"fields":["ts_code","ann_date","end_date","holder_num"],"items":[["002594.SZ","20260429","20260331",718724],["002594.SZ","20260328","20260228",732853],["002594.SZ","20260328","20251231",685147],["002594.SZ","20260310","20251031",642600],["002594.SZ","20251031","20250930",642600],["002594.SZ","20250830","20250630",323939],["002594.SZ","20250426","20250331",203708],["002594.SZ","20250325","20250228",199293],["002594.SZ","20250325","20241231",271334],["002594.SZ","20241031","20240930",270381],["002594.SZ","20240829","20240630",300199],["002594.SZ","20240430","2[...]
