interactions:
- request:
    body: '{"api_name": "anns_d", "token": "REDACTED", "params": {"ts_code": "000063.SZ",
      "start_date": "20240301", "end_date": "20240501"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://api.tushare.pro/
  response:
    body:
      string: "{\"code\": 0, \"msg\": null, \"data\": {\"fields\": [\"ann_date\",
        \"ts_code\", \"name\", \"title\", \"url\"], \"items\": [[\"20240426\", \"000063.SZ\",
        \"\u4E2D\u5174\u901A\u8BAF\", \"\u76D1\u4E8B\u4F1A\u51B3\u8BAE\u516C\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-26/1219820274.PDF\"], [\"20240426\",
        \"000063.SZ\", \"\u4E2D\u5174\u901A\u8BAF\", \"\u8463\u4E8B\u4F1A\u51B3\u8BAE\u516C\u544A\",
        \"https://static.cninfo.com.cn/finalpage/2024-04-26/1219820276.PDF\"], [\"20240426\",
        \"000063.SZ\", \"\u4E2D\u5174\u901A\u8BAF\", \"2024\u5E74\u4E00\u5B63\u5EA6\u62A5\u54[...]
